{% extends "master.html" %}

{% block titulo %}
    Los Santos Customs
{% endblock %}

{% block contenido %}
    <h1 class="bg-warning">Los Santos Customs</h1>
    <p>Bienvenido a nuestro taller mecanico enfocado en las mejores reparaciones , tuneos esteticos y la mejor atencion para tus vehiculos</p>
    
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="static/img/ffffffffffffffffffffff.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="static/img/praprparpaprapfpakfpkapfka.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="static/img/ssssssssssssssssssss.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
{% endblock %}


