<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>

        {% block titulo %}
        {% endblock %}

    </title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascreipt %}
</head>
<body>
    <div class="container">
        <ul class="nav bg-info">
            <li class="nav-item"><a class="nav-link link-light" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link link-light" href="/todasreparaciones">trabajos realizados</a></li>
            {% if request.session.usuario_tipousuario == 'admin'  %}
                <li class="nav-item"><a class="nav-link link-light" href="/crear_miembro">Crear usuario</a></li>
            {% endif %}
            {% if request.session.usuario_id %}
                <li class="nav-item"><a class="nav-link link-light" href="/logout">Logout</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link link-light" href="/login">Login</a></li>
                <li class="nav-item"><a class="nav-link link-light" href="/registro">Registro</a></li>
            {% endif %}
        </ul>
    </div>
    
</body>
</html>